<!-- Carousel Start -->
<div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="assets/img/carousel-1.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h3 class="text-white mb-3 d-none d-sm-block">Welcome to our AniMall for adoption</h3>
                        <h1 class="display-3 text-white mb-3">Keep Your Pet Happy</h1>
                        <h5 class="text-white mb-3 d-none d-sm-block"><i>~I gave this dog a house, and they gave me a home.~</i></h5>
                        <!-- <a href="" class="btn btn-lg btn-primary mt-3 mt-md-4 px-4">Book Now</a>
                        <a href="" class="btn btn-lg btn-secondary mt-3 mt-md-4 px-4">Learn More</a> -->
                        <a routerLink="add-announcement" class="btn btn-lg btn-primary mt-3 mt-md-4 px-4" style="font-weight: bolder;"> <i class="fa fa-paw" aria-hidden="true"></i> Post Your Announcement</a>

                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="assets/img/carousel-2.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h3 class="text-white mb-3 d-none d-sm-block">Best Pet Adoption Services</h3>
                        <h1 class="display-3 text-white mb-3">Want a pet for adoption?</h1>
                        <h5 class="text-white mb-3 d-none d-sm-block">There are likely hundreds of adoptable cats and dogs in your local animal shelters or rescues right now who would love to join your family.</h5>
                        <!-- <a routerLink="add-announcement"  class="btn btn-lg btn-primary mt-3 mt-md-4 px-4">Learn More</a>
                        <a routerLink="add-announcement" class="btn btn-lg btn-secondary mt-3 mt-md-4 px-4"> Post Now</a> -->
                        <a routerLink="add-announcement" class="btn btn-lg btn-primary mt-3 mt-md-4 px-4" style="font-weight: bolder;"> <i class="fa fa-paw" aria-hidden="true"></i> Post Your Announcement</a>

                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
            <div class="btn btn-primary rounded" style="width: 45px; height: 45px;">
                <span class="carousel-control-prev-icon mb-n2"></span>
            </div>
        </a>
        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
            <div class="btn btn-primary rounded" style="width: 45px; height: 45px;">
                <span class="carousel-control-next-icon mb-n2"></span>
            </div>
        </a>
    </div>
</div>
<!-- Carousel End -->


<!-- About Start -->
<div class="container py-5">
    <div class="row py-5">
        <div class="col-lg-7 pb-5 pb-lg-0 px-3 px-lg-5">
            <h4 class="text-secondary mb-3">About Us</h4>
            <h1 class="display-4 mb-4"><span class="text-primary">Adopting</span> & <span class="text-secondary">Rehoming</span></h1>
            <h5 class="text-muted mb-3">Our site is designed to help you responsibly re-home your pet or a homeless pet you have rescued.</h5>
            <p class="mb-4">This is a service AniMall.com offers  pet owners to help them re-home their pets. The pets on this website are not under the care of AniMall.com and therefore we cannot offer any information regarding the pets. Prospective adopters must contact the owner listed on the pet’s profile page for further information.</p>
            <ul class="list-inline">
                <li><h5><i class="fa fa-check-double text-secondary mr-3"></i>Trusted</h5></li>
                <li><h5><i class="fa fa-check-double text-secondary mr-3"></i>Safe</h5></li>
                <li><h5><i class="fa fa-check-double text-secondary mr-3"></i>Secure</h5></li>
            </ul>
            <a href="" class="btn btn-lg btn-primary mt-3 px-4">Learn More</a>
        </div>
        <div class="col-lg-5">
            <div class="row px-3">
                <div class="col-12 p-0">
                    <img class="img-fluid w-100" src="assets/img/about-1.jpg" alt="">
                </div>
                <div class="col-6 p-0">
                    <img class="img-fluid w-100" src="assets/img/about-2.jpg" alt="">
                </div>
                <div class="col-6 p-0">
                    <img class="img-fluid w-100" src="assets/img/about-3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Services Start -->
<app-animal-list></app-animal-list>
<!-- Services End -->


<!-- Features Start -->
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-5">
            <img class="img-fluid w-100" src="assets/img/feature.jpg" alt="">
        </div>
        <div class="col-lg-7 py-5 py-lg-0 px-3 px-lg-5">
            <h4 class="text-secondary mb-3">Why Choose Us?</h4>
            <h1 class="display-4 mb-4"><span class="text-primary"> Helping find a home  </span> for every pet</h1>
            <p class="mb-4">The <b style="color:green ;">AniMall</b> works to keep more animals in loving homes by protecting animals from harmful situations through community engagement, preventative action and providing resources and care when needed. </p>
            <div class="row py-2">
                <div class="col-6">
                    <div class="d-flex align-items-center mb-4">
                        <h1 class="flaticon-cat font-weight-normal text-secondary m-0 mr-3"></h1>
                        <h5 class="text-truncate m-0">Best In Industry</h5>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex align-items-center mb-4">
                        <h1 class="flaticon-doctor font-weight-normal text-secondary m-0 mr-3"></h1>
                        <h5 class="text-truncate m-0">Adoption Services</h5>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex align-items-center">
                        <h1 class="flaticon-care font-weight-normal text-secondary m-0 mr-3"></h1>
                        <h5 class="text-truncate m-0">Special Care</h5>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex align-items-center">
                        <h1 class="flaticon-dog font-weight-normal text-secondary m-0 mr-3"></h1>
                        <h5 class="text-truncate m-0">Customer Support</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->
