<h2> Animals' List </h2>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="main-box clearfix">
				<div class="table-responsive">
					<table class="table user-list">
						<thead>
							<tr>
								<th ><span>Pet name</span></th>
								<th ><span> Pet age </span></th>
								<th ><span> Pet Gender </span></th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let a of animal ">
								<td>
									<img src="https://www.cartoonizemypet.com/store/wp-admin/admin-ajax.php?action=cmp_preview&pet_id=710734" width="100px" alt="">
									<a href="#" class="user-link">{{a.name}}</a>
									
								</td>
								<td>
									{{a.age}}
								</td>
								<td>
									<a > {{a.gender}}</a>
								</td>
							
							
								<td style="width: 20%;">
									<button  class="btn btn-info" (click)="updateAnimal(a.id)">  EDIT </button>
									<button class="btn btn-danger" (click)="deleteAimal(a.id)"> DELETE </button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>