<div class="container-fluid bg-light pt-5">
    <div class="container py-5">
        <div class="d-flex flex-column text-center mb-5">
            <h4 class="text-secondary mb-3">Our Recent Pets </h4>
            <h1 class="display-4 m-0"><span class="text-primary">Featured </span> Highlights</h1>
        </div>
        <div class="row pb-3">
            <div class="col-md-6 col-lg-4 mb-4" *ngFor="let a of animals;  let i=index">
                <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5" *ngIf="i<3" >
                    <h3 class="flaticon-house display-3 font-weight-normal text-secondary mb-3" style="height: 80px ;"></h3>
                    <h3 class="mb-3" > {{a.name}}</h3>
                    <img src="https://www.aspca.org/sites/default/files/apcc_garage_safety_main.jpg" />
                    <p style="color:brown ;"> <b>Age :{{a.age}} years old </b></p>
                    <!-- <a class="text-uppercase font-weight-bold" href="">{{}}</a> -->
              <p> {{a.name}}  is  active , so it needs lots of exercise. {{a.name}} needs high fences. it also needs a family with someone home during the day. {{a.name}} needs your help."</p>
                </div>  
            </div> 
        </div>
    </div>

  
</div>